@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --lightGreen: #7ed56f;
  --mediumGreen: #55c57a;
  --darkGreen: #28b485;
  --light-color: #fff;
  --dark-color: #777; }

.about-btn-clerfix {
  content: "";
  clear: both;
  display: table; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 1rem; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bottom-to-top {
  0% {
    transform: translateY(20rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

header {
  min-height: 95vh;
  background-image: linear-gradient(to right bottom, #50ca3a, #19a174), url("../image/header-01.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  /* Clip out any part of the images or elements. specify a polygon in which images/elements.
    polygon is a bunch of coordinates. it's move from left-top corner, then right-top, right-bottom, left bottom. 
    As a clock wise...
    */
  position: relative; }
  header .logo {
    position: absolute;
    top: 1rem;
    left: 1.2rem; }
    header .logo img {
      height: 5rem; }
  header h1 {
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }
    header h1 .heading-top {
      display: block;
      font-weight: 400;
      font-size: 4rem;
      letter-spacing: 2rem;
      animation-name: left-to-right;
      animation-duration: 3s; }
    header h1 .heading-bottom {
      display: block;
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 1rem;
      padding-left: 1rem;
      animation-name: right-to-left;
      animation-duration: 3s;
      /*
            animation-timing-function: linear;
            animation-delay: 0.2s;
            animation-iteration-count: 10;
            */ }

header {
  /* pseudo classes are special state of elemnts.
    style elements under special conditions.
    allow us to style certain parts of element 
    */ }
  header .btn:link, header .btn:visited {
    position: absolute;
    top: 55%;
    left: 40%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    transition: all 0.2s;
    animation-name: bottom-to-top;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards; }
  header .btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  header .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); }
  header .btn-white, header .btn-white::after {
    color: var(--dark-color);
    background-color: var(--light-color); }
  header .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s; }
  header .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.8);
    opacity: 0; }

.about {
  overflow: hidden;
  min-height: 100vh;
  background-color: #f7f7f7;
  margin-top: -15vh;
  padding-top: 5rem;
  padding-bottom: 15rem; }
  .about .heading-about {
    margin: 5rem auto;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to right, #45d12d, #1a8662);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }
    .about .heading-about:hover {
      transform: skewY(2deg) skewX(15deg) scale(0.8); }
  .about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0rem auto; }
    .about .about-content .text-contents {
      max-width: 50%;
      padding: 0.5rem 3rem; }
      .about .about-content .text-contents .text-content-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem; }
      .about .about-content .text-contents .text-content-paragraph {
        font-size: 1.1rem;
        margin-bottom: 3rem; }
        .about .about-content .text-contents .text-content-paragraph:not(:nth-child(2)) {
          margin-bottom: 1rem; }
      .about .about-content .text-contents .btn-about {
        float: right;
        margin-right: 3rem;
        margin-top: 1rem; }
        .about .about-content .text-contents .btn-about:link, .about .about-content .text-contents .btn-about:visited {
          color: #45d12d;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #45d12d;
          border-radius: 1px solid #45d12d;
          font-size: 1.2rem; }
        .about .about-content .text-contents .btn-about:hover {
          background-color: #45d12d;
          color: #f7f7f7;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          transform: translateY(0.2rem); }
        .about .about-content .text-contents .btn-about:active {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          transform: translateY(0); }
    .about .about-content .image-contents {
      max-width: 50%;
      padding: 0.5rem 3rem; }
      .about .about-content .image-contents .image-container {
        max-width: 100%;
        position: relative; }
        .about .about-content .image-contents .image-container img {
          display: block;
          width: 15rem;
          height: 10rem;
          margin: auto;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          border-radius: 0.3rem;
          outline-offset: 1rem;
          position: absolute;
          z-index: 10;
          transition: all 0.2s; }
          .about .about-content .image-contents .image-container img.img-1 {
            top: 3rem;
            left: 15rem; }
          .about .about-content .image-contents .image-container img.img-2 {
            top: 0rem;
            left: 5rem; }
          .about .about-content .image-contents .image-container img.img-3 {
            top: 8rem;
            left: 10rem; }
          .about .about-content .image-contents .image-container img:hover {
            outline: 1rem solid #45d12d;
            transform: scale(1.3);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
            z-index: 20; }

.feature {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #50ca3a, #19a174), url("../image/header-01.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -5rem;
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  grid-gap: 3rem;
  transform: skewY(-7deg); }
  .feature .feature-box {
    background-color: #f7f7f7;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.15);
    transform: skewY(7deg);
    transition: transform 0.2s; }
    .feature .feature-box:hover {
      transform: translateY(-1.5rem) scale(1.03) skewY(7deg); }
    .feature .feature-box .feature-box-icon {
      margin-bottom: 1.5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #45d12d, #1a8662);
      -webkit-background-clip: text;
      color: transparent; }
    .feature .feature-box .feature-box-heading {
      font-size: 1.7rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem; }
    .feature .feature-box .feature-box-text {
      font-weight: 300; }
