// sass - Syatactically Awesome Style Sheet, clean code, sustainable code, representation of code.
$bodyColor: #777;
$color-gray-light: #f7f7f7;
$color-light-green: #45d12d;
$color-dark-green: #1a8662;
:root{
    --lightGreen: #7ed56f;
    --mediumGreen: #55c57a;
    --darkGreen: #28b485;
    --light-color: #fff;
    --dark-color: #777;
}