/* footer section  */
.footer{
    background-color: $bodyColor;

    &__logo{
        //position: relative;
        text-align: center;
        .mylogo{
            width: 10rem;
            height: 10rem;
            // position: absolute;
            // top: 0;
            // left: 45%;
        }
    }

    &__content{
        color: $color-light;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include responsive(phone){
            flex-direction: column;
        }

        &__leftSide, &__rightSide{
            width: 50%;
            text-align: center;
            @include responsive(phone){
                width: 100%;
                padding: 1rem 3rem;
            }
        }

        &__leftSide{
            font-size: 1.3rem;
            margin-top: 1rem;
            hr{
                width: 70%;
                margin: 0 auto;
                text-align: center;
                transform: translateX(1rem);
                @include responsive(phone){
                    width: 100%;
                }
            }
            ul{
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 0.5rem;
                    color: $color-light-green;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 0.3s;
                    @include responsive(extra__small){
                        padding: 0.2rem;
                    }

                    &:hover{
                        color: $color-light;
                        transform: skewY(5deg) scale(1.2);
                    }
                }
            }
        }

        &__rightSide{
            hr{
                width: 85%;
                @include responsive(phone){
                    width: 100%;
                }
            }
            padding: 0rem 2rem;
            text-align: left;
            @include responsive(phone){
                text-align: center;
                padding: 1rem 3rem;
            }
            p{
                padding-right: 3rem;
                @include responsive(phone){
                    padding-right: 0rem;
                }
            }
        }
    }
    /*

    @media only screen and (min-resolution: 192dpi) and (max-width: 600px),
            (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px),
            (min-width: 2000px){

            //comma (,) act as like as OR
    }

    */ 
}