header{
    .btn:link, .btn:visited{
        position: absolute;
        top: 55%;
        left: 40%;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.8rem 2rem;
        border-radius: 5rem;
        transition: all 0.2s; // shorthand property
        
        //animation
        animation-name: bottom-to-top;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards; // animation start from the initial state at 0%
        @include responsive(phone){
            top: 55%;
            left: 35%;
            animation-duration: 0.2s;
            animation-delay: 0s;
        }
        @include responsive(extra__small){
            top: 50%;
            left: 30%;
            animation-duration: 0.2s;
            animation-delay: 0s;
        }
    }

    /* pseudo classes are special state of elemnts.
    style elements under special conditions.
    allow us to style certain parts of element 
    */
    .btn:hover{
        transform: translateY(-0.1rem); // transform property is cool for modern effect
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.5);
    }
    .btn:active{
        transform: translateY(0);
        box-shadow: 0 0.3rem 0.5rem rgba($color: #000000, $alpha: 0.2);
        // right side, bottom side, how much blur, color
    }
    .btn-white, .btn-white::after{
        color: var(--dark-color);
        background-color: var(--light-color);
    }

    .btn::after{ // treated like a child of btn
        content: ""; // content property must be use
        display: inline-block;
        width: 100%;
        height: 100%;   // width,height of that button
        border-radius: 5rem;

        // behind the actual button
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; // vertical stacking order
        transition: all 0.2s;
    }

    // behind the button after hover
    .btn:hover::after{
        transform: scaleX(1.5) scaleY(1.8); // zooming elements
        opacity: 0;
    }
}