.story{
    // row section
    & .row{
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.1);
        border-radius: 0.3rem;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: left;

        padding: 1rem;
        margin-top: 4rem;
        background-color: $color-light;

        @include responsive(phone){
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-content: center;
        }
    }
    &__image{
        width: 8rem;
        height: 8rem;
        background-color: orangered;
        //border-radius: 50%;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(0.3rem);

        background-image: url('../../image/about-01.jpg');
        background-size: cover;

        position: relative;
        transition: all 0.8s;

        @include responsive(phone){
            text-align: center;
            margin: 0 auto;
        }

        .story__caption{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 20%);
            text-align: center;
            text-transform: uppercase;
            color: $color-light;
            opacity: 0;
            transition: all 0.8s;
            backface-visibility: hidden; // stop shaking after transform occurs
        }

        &:hover{
            //filter: blur(0.2rem);
            opacity: 0.5;
        }

        &:hover{
            .story__caption{
                opacity: 1;
                transform: translate(-50%, -50%);
                filter: blur(0) brightness(100%);
            }
        }
    }
}