// html, body section
html{
    font-size: 1rem; // 16px ....100%
    
    @include responsive(big){
        font-size: 1.2em;
    }
    @include responsive(tab__landscape){
        font-size: 0.8em;
    }
    @include responsive(tab__portait){
        font-size: 0.7em;
    }
    @include responsive(phone){
        font-size: 0.6em;
    }
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7; // 1..7 times bigger than default.
    color: $bodyColor;
    padding: 1rem;  // around the entire body, whole websites.
    
    @include responsive(tab__landscape){
        padding: 0rem;
    }
    @include responsive(tab__portait){
        padding: 0rem;
    }
    @include responsive(phone){
        padding: 0rem;
    }
}