/* about sectioon  */ 
.about{
    overflow: hidden;
    min-height: 100vh;
    background-color: $color-gray-light;
    margin-top: -15vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    // -15vh, because where the header clip path is finished.
    // height 95 vh,  clip path 80vh. so 95 - 80 = 15

    @include responsive(tab__landscape){
        min-height: auto;
    }
    
    @include responsive(tab__portait){
        min-height: auto;
        padding: 10rem 0rem !important;
    }
    @include responsive(phone){
        padding-top: 10rem !important;
        padding-bottom: 8rem !important;
        min-height: auto !important;
    }
}


/* feature section  */
.feature{
    min-height: 100vh;
    //On linear gradient, always use pure color directly. not a variable color.
    background-image: linear-gradient(          
        to right bottom, 
        #50ca3a, 
        #19a174), 
        url('../image/header-01.jpg');
    background-size: cover; // whatever width, it always try to fit on the screen.
    background-position: top; // top of the images always same. not cropping if we change the window size.
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-top: -5rem;
    padding: 10rem 5rem;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
    grid-gap: 3rem;
    
    // instead of clip-path, use skew()
    transform: skewY(-7deg); 
    // direct child of the feature selector  

    @include responsive(tab__landscape){
        min-height: auto;
    }

    @include responsive(tab__portait){
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        min-height: auto;
    }

    @include responsive(phone){
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}


/* tour section  */
.tour{
    min-height: 100vh;
    background-color: $color-gray-light;
    padding: 7rem 0rem;
    margin-top: -5rem;
    @include responsive(tab__portait){
        min-height: auto;
    }
    @include responsive(phone){
        min-height: auto;
    }
}

/* story section  */
.story{
    min-height: 100vh;
    //background-color: $color-light;
    padding: 4rem;
    //margin-top: -5rem;
    position: relative;
}


/* booking section  */
.booking{
    min-height: 100vh;
    background-image: linear-gradient(          
        to right bottom, 
        #50ca3a, 
        #19a174);
    background-size: cover; // whatever width, it always try to fit on the screen.
    background-position: top; // top of the images always same. not cropping if we change the window size.
    //clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
    /* Clip out any part of the images or elements. specify a polygon in which images/elements.
    polygon is a bunch of coordinates. it's move from left-top corner, then right-top, right-bottom, left bottom. 
    As a clock wise...
    */
    padding: 5rem 10rem;

    &__book{
        height: 30rem;
        background-image: linear-gradient(110deg, 
                                            rgba($color-light, 1) 0%,
                                            rgba($color-light, 1) 50%,
                                            transparent 50%), 
                                            url('../../image/about-04.jpg');
        //cover / 100% both work same...
        //background-size: cover;
        background-size: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);

        &__form{
            width: 50%;
            padding: 2rem;
        }
    }
}
